body{
   text-align: center;
   background: #ebecf1; 
   color: #1b1c25;
}

  
.siteOff{
    display: none;
  }

.siteOn{
    visibility: visible;
}

h1{
    color: #ebecf1;
}

h2{
    color: #1f4068;
}

.btn{
    background-color: #1f4068;
}

/* Containers */

.container-fluid {
    padding: 4% 9%;
}

/* Sections */
.coloredSections{
    background: #206a5d;
}
.coloredSections h2{
    color: #ebecf1;
}

/* Age Alert */
.ageCheck{
    font-size: 1.5rem;
    margin-top: 100px;
    padding: 3%;
    width: 40%;
    border: 7px solid #1f4068;
    border-radius: 10px;
    position: relative;
    left: 30%;
}

/* Heading Section  */
#title{
    height: 650px;
}
.headingImage{
    padding-top: 10px;
    width: 65%;
    height: 60%;
}

.titleName{
    padding: 7% 10%;
    color: #ebecf1;
    text-align: left;
}

/* Farm Section */
#farming{
    padding: 5%;
    line-height: 1.5;
}
.farmingImage{
    width: 30%;
}

.farmingInfo{
    text-align: left;
    width: 75%;
    display: inline-block;
}

.floatLeft{
    float: left;
    margin-right: 15px;
    padding-bottom: 7%;
}

.floatRight{
    float: right;
    margin-left: 15px;
}

/* Products */
#products{
    background: #ffffff;
    padding: 3% 9%;
}

#products h2{
    padding-bottom: 30px;
}

.productItems{
    margin: 10px;
    padding: 0;
}

/* Testimonials */

.testimonialText{
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonialsImage{
    width: 5%;
    border-radius: 100%;
    margin: 20px;
}

/* Coming Soon */
#comingSoon{
    padding: 5%;
}

/* Footer */
form{
    text-align: justify;
}